@model ProductDetailsViewModel

<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product" >
					<img src="~/media/products/@Model.ProductDetails.Image" alt=""  width="100%"/>		
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>
						

					</div>

					<!-- Controls -->
					<a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->

					<h2>@Model.ProductDetails.Name</h2>
					<span>
						<span>@Model.ProductDetails.Price.ToString("#, ##0 VNĐ")</span>
						<label>Quantity: </label>
						<input type="text" value="1" />
						<button class="btn btn-default add-to-cart" data-product_id="@Model.ProductDetails.Id"> <i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
					</span>
					<p><b>Availability:</b> In Stock</p>
					<p><b>Condition:</b> New</p>
					<p><b>Brand:</b> @Model.ProductDetails.Brand.Name</p>
					<p><b>Category:</b> @Model.ProductDetails.Category.Name</p>
					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
					<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
					<li><a href="#tag" data-toggle="tab">Tag</a></li>
					<li ><a href="#reviews" data-toggle="tab">Đánh giá (5)</a></li>
				</ul>
			</div>
			<div class="tab-content">

				<div class="tab-pane fade" id="details">
							@Html.Raw(Model.ProductDetails.Description)
				</div>

				<div class="tab-pane fade" id="companyprofile">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="tag">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="reviews">
					<div class="col-sm-12">
						<ul class="review-list list-group d-flex flex-column gap-3">
							@foreach (var rating in Model.Ratings)
							{
								<li class="review-item list-group-item">
									<div class="d-flex align-items-center mb-2">
										<div class="me-3">
											<i class="bi bi-person-circle fs-3 text-primary"></i>
										</div>
										<div>
											<strong>@rating.Name</strong>
										</div>
									</div>

									<div class="mb-2">
										<span class="rating-stars text-warning">
											@for (int i = 0; i < Convert.ToInt32(rating.Star); i++)
											{
												<i class="bi bi-star-fill"></i>
											}
										</span>
									</div>

									<!-- Nội dung bình luận -->
									<p class="review-comment mb-0">@rating.Comment</p>
								</li>
							}
						</ul>




						<h3>Để lại đánh giá của bạn:</h3>
						<form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="POST">
							<input type="hidden" name="ProductId" value="@Model.ProductDetails.Id" />
							<input type="hidden" name="Star" value="4" />

							<!-- Tên người dùng -->
							<div class="form-group">
								<label for="Name" class="font-weight-bold">Tên của bạn: </label>
								<input name="Name" type="text" id="Name" placeholder="Nhập tên của bạn" class="form-control" required />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>

							<!-- Email -->
							<div class="form-group">
								<label for="Email" class="font-weight-bold">Địa chỉ email</label>
								<input name="Email" type="email" id="Email" placeholder="Nhập địa chỉ Email của bạn" class="form-control" required />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>

							<!-- Bình luận -->
							<div class="form-group">
								<label for="Comment" class="font-weight-bold">Đánh giá: </label>
								<textarea name="Comment" id="Comment" placeholder="Nhập đánh giá của bạn tại đây" class="form-control" rows="4" required></textarea>
								<span asp-validation-for="Comment" class="text-danger"></span>
							</div>

							<!-- Nút Submit -->
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
							</div>
						</form>


					</div>
				</div>

			</div>
		</div>


		@* Sản phẩm liên quan *@
		<div class="recommended_items">
			<h2 class="title text-center">Sản phẩm liên quan</h2>
			<d<div class="carousel-inner">
			<div class="item active">
						@foreach (var relatedProduct in ViewBag.RelatedProducts as IEnumerable<ProductModel>)
						{
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<a>
										<div class="single-products">
											<div class="productinfo text-center">
												<a asp-action="Details" asp-controller="Product" asp-route-Id="@relatedProduct.Id">
												<img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name" width="100%" />
												<h2>@relatedProduct.Price.ToString("#,##0 VNĐ")</h2>
												<p>@relatedProduct.Name</p>
												<p>Danh mục: @relatedProduct.Category.Name</p>
												<p>Thương hiệu: @relatedProduct.Brand.Name</p>
												<button class="btn btn-default add-to-cart" data-product_id="@relatedProduct.Id"> <i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
												</a>
											</div>
										</div>
									</a>
								</div>
							</div>
						}
					</div>
			</div>
		</div>

	</div>
</div>
@section Scripts
{
	<script>
		$('.add-to-cart').click(function () {
			var Id = $(this).data("product_id");

			$.ajax({
				type: "POST",
				url: "@Url.Action("Add", "Cart")",
				data: { Id: Id },
				success: function (result) {
					if (result) {
						Swal.fire("Thêm vào giỏ hàng thành công");
					} else {
						Swal.fire("Có lỗi xảy ra, vui lòng thử lại.");
					}
				},
				error: function (req, status, error) {
					console.log("Lỗi thêm vào giỏ hàng", error);
					Swal.fire("Lỗi khi thêm vào giỏ hàng, vui lòng thử lại.");
				}
			});
		});

	</script>
}